body {
    font: normal 12px/150% Calibri, Helvetica, sans-serif;
    text-align: center;
    background: #fff;
    overflow: auto;
    font-size: 30px;
    color: #7f6040;
}

.datagrid table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

.datagrid {
    font: normal 12px/150% Calibri, Helvetica, sans-serif;
    background: #fff;
    overflow: auto;
    border: 1px solid #0f0f0f;
}

.datagrid table td, .datagrid table th {
    /* padding: 3px 10px;*/
}

.datagrid table thead th {
    background: #9481e8;
    color: #0f0f0f;
    font-size: 18px;
    font-weight: bold;
    border-left: 1px solid #0f0f0f;
}

.datagrid table thead th:first-child {
    border: none;
}

.datagrid table tbody td {
    color: #0f0f0f;
    border-left: 1px solid #0f0f0f;
    font-size: 15px;
    font-weight: normal;
}


.datagrid table tbody tr:nth-child(even) {
    background: #9481e8;
    /*background: #fff5d8;*/
    color: #0f0f0f;
}

.datagrid table tbody td:first-child {
    border-left: none;
}

.datagrid table tbody tr:last-child td {
    border-bottom: none;
}

.checkbox {
    transform:scale(1.9);
    opacity:0.9;
    cursor:pointer;
}

.button-main {
    width: 300px;
    background-color: #9481e8;
    border-radius:16px;
    font-size:36px;
    border:2px solid #9481e8;
    cursor:pointer;
    color: #000000;
    font-family:Arial;
    padding:12px 31px;
}
.button-title {
    width: 300px;
    background-color: #9481e8;
    border-radius:16px;
    font-size:36px;
    border:2px solid #9481e8;
    cursor:pointer;
    color: #000000;
    font-family:Arial;
    padding:12px 31px;
}
.button-main:hover {
    background-color: #9481e8;

}
.button-main:active {

    position:relative;
    top:1px;
}


.my-th-selected {
    width: 50px;
    text-align: center;
    font-size:14px;
    border: 2px solid #9481e8;
    background: #9481e8;
    /*background: #fff5d8;*/
    color: #000000;
}
.my-th {
    width: 50px;
    text-align: center;
    font-size:14px;
    border: 2px solid #9481e8;
    background: #9481e8;
    /*background: #fff5d8;*/
    color: #000000;
}
.my-th:hover{
    background: #9481e8;
}

.myButton {

    width: 100px;
    background-color: #9481e8;
    border-radius:16px;
    font-size:16px;
    border:2px solid #9481e8;
    cursor:pointer;
    color: #ffffff;
    font-family:Arial;
    padding:0px;
}
.myButton:hover {
    background-color: #9481e8;
}
.myButton:active {
    position:relative;
    top:1px;
}